* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	FONT: 12px Tahoma, Helvetica, Arial, sans-serif; BACKGROUND: #843016 repeat-x; COLOR: #000
}
A {
	COLOR: #000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
.wrapper {
	PADDING-BOTTOM: 6px; MARGIN: 0px auto; PADDING-LEFT: 10px; WIDTH: 762px; PADDING-RIGHT: 10px; BACKGROUND: #f0ecd3; BORDER-TOP: #f0ecd3 0px solid; PADDING-TOP: 0px
}
.nav {
	POSITION: relative; MARGIN: 0px 0px 8px; BACKGROUND: #d7bb71 no-repeat 0px -36px
}
.navinner {
	BACKGROUND: #843016 no-repeat 100% -72px
}
.navlist {
	LINE-HEIGHT: 38px; MARGIN: 0px 2px; BACKGROUND: #843016 repeat-x 0px 0px; HEIGHT: 36px; OVERFLOW: hidden
}
.nav LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -2px; PADDING-LEFT: 5px; PADDING-RIGHT: 3px; DISPLAY: inline; BACKGROUND: #843016 no-repeat 0px -108px; FLOAT: left; PADDING-TOP: 0px
}
.nav A {
	TEXT-ALIGN: center; WIDTH: 100px; DISPLAY: block; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.nav A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.nav A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.nav A.current {
	BACKGROUND: #d7bb71 no-repeat 50% -144px; COLOR: #ff0000; FONT-WEIGHT: bold
}
.nav A:hover {
	BACKGROUND: #d7bb71 no-repeat 50% -144px; COLOR: #ff0000; FONT-WEIGHT: bold
}
.nav A:active {
	BACKGROUND: #d7bb71 no-repeat 50% -144px; COLOR: #ff0000; FONT-WEIGHT: bold
}
.cbox {
	BORDER-BOTTOM: #d7bb71 1px solid; BORDER-LEFT: #d7bb71 1px solid; OVERFLOW-Y: auto; MARGIN-TOP: 8px; ZOOM: 1; MARGIN-BOTTOM: 8px; BORDER-TOP: #d7bb71 1px; BORDER-RIGHT: #d7bb71 1px solid
}
.cbox H3 {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT: 12px/30px Verdana; BACKGROUND: #d7bb71; HEIGHT: 30px; PADDING-TOP: 0px
}
.cbox H3 SPAN {
	FONT: bold 14px/30px Verdana; FLOAT: left
}
.cbox H3 IMG {
	MARGIN-TOP: 5px
}
.cbox H3 A:hover {
	TEXT-DECORATION: none
}
.cbox UL {
	LINE-HEIGHT: 30px; OVERFLOW-Y: auto; MARGIN: 2px; ZOOM: 1; BACKGROUND: #efead6
}
.cbox LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; WIDTH: 110px; TEXT-OVERFLOW: ellipsis; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; FLOAT: left; HEIGHT: 30px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.cbox LI A:visited {
	COLOR: #067bd5; TEXT-DECORATION: none
}
.footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; MARGIN: 8px 0px
}
.copyright {
	LINE-HEIGHT: 22px; COLOR: #000
}
.copyright A:link {
	LINE-HEIGHT: 22px; COLOR: #000
}
.copyright A:visited {
	LINE-HEIGHT: 22px; COLOR: #000
}
